*.suo
*.sln
*.sdf
*.ipch
*.user
*.filters
*.vcxproj
*.tlog
*.manifest
*.lastbuildstate
*.cache
*.obj
*.pdb
*.idb
*.ilk
*.exe
*.log
*.opensdf
*.unsuccessfulbuild
*.31554
*.uvopt
*.uvproj
*.main.lst
*.project.m51
*.htm
*.hex
*.lnp
*.lst
*.m51
*.A51
*.uvoptx
*.uvprojx
*.scvd
*.bat
*/Listings
*/Objects
*/project
*/DebugConfig
Test/
HOMEWORK/
EXAM/
0-1 接线图(内部章节标号与笔记不同)/